{"swagger":"2.0","info":{"title":"gateway_lst_app_con","description":"","version":"1.0"},"host":"api.fabric.microsoft.com","basePath":"/v1","schemes":["https"],"consumes":[],"produces":[],"paths":{"/gateways":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"type":{"type":"string","description":"type"},"displayName":{"type":"string","description":"displayName"},"capacityId":{"type":"string","description":"capacityId"},"inactivityMinutesBeforeSleep":{"type":"integer","format":"int32","description":"inactivityMinutesBeforeSleep"},"numberOfMemberGateways":{"type":"integer","format":"int32","description":"numberOfMemberGateways"}}},"description":"value"},"continuationToken":{"type":"string","description":"continuationToken"},"continuationUri":{"type":"string","description":"continuationUri"}}}}},"summary":"list gateways","description":"Returns a list of all gateways the user has permission for, with pagination.","operationId":"ListGateways","parameters":[{"name":"continuationToken","in":"query","required":false,"type":"string"}]}},"/connections":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"},"gatewayId":{"type":"string","description":"gatewayId"},"connectivityType":{"type":"string","description":"connectivityType"},"privacyLevel":{"type":"string","description":"privacyLevel"},"connectionDetails":{"type":"object","properties":{"type":{"type":"string","description":"type"},"path":{"type":"string","description":"path"}},"description":"connectionDetails"}}},"description":"value"},"continuationToken":{"type":"string","description":"continuationToken"},"continuationUri":{"type":"string","description":"continuationUri"}}}}},"summary":"list my connections","description":"Returns the connections the signed-in user has permission for.","operationId":"ListConnections","parameters":[{"name":"continuationToken","in":"query","required":false,"type":"string"}]}},"/connections/{connectionId}":{},"/connections/{connectionId}/roleAssignments":{},"/connections/{fabricConnectionId}":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"},"gatewayId":{"type":"string","description":"gatewayId"},"connectivityType":{"type":"string","description":"connectivityType"},"connectionDetails":{"type":"object","properties":{"type":{"type":"string","description":"type"},"path":{"type":"string","description":"path"}},"description":"connectionDetails"}}}}},"summary":"GetConnection","description":"get connection","operationId":"GetConnection","parameters":[{"name":"fabricConnectionId","in":"path","required":true,"type":"string"}]}},"/connections/{fabricConnectionId}/roleAssignments":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"principal":{"type":"object","properties":{"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"},"type":{"type":"string","description":"type"}},"description":"principal"},"role":{"type":"string","description":"role"}}},"description":"value"},"continuationToken":{"type":"string","description":"continuationToken"}}}}},"summary":"ListConnectionRoleAssignments","operationId":"ListConnectionRoleAssignments","description":"list connection role assignments","parameters":[{"name":"fabricConnectionId","in":"path","required":true,"type":"string"},{"name":"continuationToken","in":"query","required":false,"type":"string"}]},"post":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"principal":{"type":"object","properties":{"id":{"type":"string","description":"id"},"type":{"type":"string","description":"type"}},"description":"principal"},"role":{"type":"string","description":"role"}}}}},"summary":"AddConnectionRoleAssignment","operationId":"AddConnectionRoleAssignment","description":"add connection role assignment","parameters":[{"name":"fabricConnectionId","in":"path","required":true,"type":"string"},{"name":"Content-Type","in":"header","required":false,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"principal":{"type":"object","properties":{"id":{"type":"string","description":"id"},"type":{"type":"string","description":"type"}},"description":"principal"},"role":{"type":"string","description":"role"}}}}]}}},"definitions":{},"parameters":{},"responses":{},"security":[{"oauth2-auth":["Gateway.Read.All Connection.ReadWrite.All offline_access"]}],"tags":[],"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{"Gateway.Read.All Connection.ReadWrite.All offline_access":"Gateway.Read.All Connection.ReadWrite.All offline_access"},"authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize"}}}