{"swagger":"2.0","info":{"title":"gateway_lst_app_con","description":"","version":"1.0"},"host":"api.fabric.microsoft.com","basePath":"/v1","schemes":["https"],"consumes":[],"produces":[],"paths":{"/gateways":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"type":{"type":"string","description":"type"},"displayName":{"type":"string","description":"displayName"},"capacityId":{"type":"string","description":"capacityId"},"inactivityMinutesBeforeSleep":{"type":"integer","format":"int32","description":"inactivityMinutesBeforeSleep"},"numberOfMemberGateways":{"type":"integer","format":"int32","description":"numberOfMemberGateways"}}},"description":"value"},"continuationToken":{"type":"string","description":"continuationToken"},"continuationUri":{"type":"string","description":"continuationUri"}}}}},"summary":"list gateways","description":"Returns a list of all gateways the user has permission for, with pagination.","operationId":"ListGateways","parameters":[{"name":"continuationToken","in":"query","required":false,"type":"string"}]}}},"definitions":{},"parameters":{},"responses":{},"security":[{"oauth2-auth":["Gateway.Read.All offline_access"]}],"tags":[],"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{"Gateway.Read.All offline_access":"Gateway.Read.All offline_access"},"authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize"}}}